* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color1: #191a19;
  --color2: #1e5128;
  --color3: #4e9f3d;
  --color4: #d8e9a8;
}

html {
  font-size: 10px;
}

.hidden {
  display: none;
}

body {
  height: 100vh;
  background-color: var(--color3);
}

.chart-container {
  background-color: var(--color4);
  max-width: 800px;
  flex-grow: 0;
  margin: auto;
  padding: 1rem;
}

.controlers-bar {
  width: 100%;
  height: calc(100vh - 409px);
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--color3);
}

@media (max-width: 800px) {
  .controlers-bar {
    height: calc(100vh - 55vw);
  }
}
